
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">My Comments</h4>
            </div>
        </div>
        <div class="table-responsive">
                <div class="col-md-8 col-md-offset-2 col-sm-offset-2">
                         <div class="Compose-Message">               
                    <div class="panel panel-success">
                        <div class="panel-heading">
                           New Message 
                        </div>
                        <div class="panel-body">
                            <textarea rows="4" class="form-control"></textarea>
                            <hr />
                            <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> Send Message </a>&nbsp;
                            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-tags"></span>  Save To Drafts </a>
                        </div>
                        <div class="panel-footer text-muted">
                            <strong>Note : </strong>Please note that we track all messages so don't send any spams.
                        </div>
                    </div>
                         </div>
                </div>
            </div>
     </div>




 