<div class="container" ng-controller="authCtrl">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Please Login To Enter </h4>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">

            <h4>Login with
                <strong>Online marketing account :</strong>
            </h4>
            <br />
            <div class="space-16"></div>

            <form name="loginForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="email"> Email / Phone </label>
                    <div class="col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Email / Phone" name="email" ng-model="login.email" required focus/>
                            <!-- <i class="ace-icon fa fa-user"></i> -->
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="password"> Password </label>
                    <div class="col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                            <!-- <i class="ace-icon fa fa-lock"></i> -->
                        </span>
                    </div>
                </div>
                <div class="space"></div>
                <div class="clearfix">
                    <div class="row">
                        <label class="col-sm-3 control-label no-padding-right"> </label>
                        <div class="col-sm-7">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="doLogin(login);allSponsorByIDs(uid);filterByID(uid);loadMyteam(uid)"
                                data-ng-disabled="loginForm.$invalid">
                                <i class="ace-icon fa fa-key"></i>
                                <span ng-show="!cache.isUthenticating"> Login </span>
                                <span ng-show="cache.isUthenticating">
                                    <i class="fa fa-spinner fa-spin f14"></i> Authenticating ... </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <span class="lbl col-sm-3"> </span>
                <div class="col-sm-7">Don't have an account?
                    <a href="#/signup">Signup</a>
                </div>
            </form>
            <!-- <a href="#/signup" class="col-sm-7 text-info pull-right"> </a> -->
        </div>
        <div class="col-md-6">
            <div class="alert alert-info">
                This is online marketing network you can find 3three member to earn more money This is online marketing network you can find
                3three member to earn more money
                <br />
                <strong> Some of its features:</strong>
                <ul>
                    <li>
                        advantage to use it
                    </li>
                    <li>
                        advantage to use it
                    </li>

                </ul>

            </div>
            <div class="alert alert-success">
                <strong> Instructions To Use:</strong>
                <ul>
                    <li>
                        signup into the system
                    </li>
                    <li>
                        signup into the system
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>